@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: "Roboto", sans-serif;
}
#root {
    display: grid;
    grid-template-rows: minmax(min-content, max-content) 1fr 60px;
    overflow: hidden;
}
body::-webkit-scrollbar {
    width: 0px;
}

.container-radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.container-radio:hover input ~ .checkmark {
    background-color: #ccc;
}

.container-radio input:checked ~ .checkmark {
    background-color: #2196f3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container-radio input:checked ~ .checkmark:after {
    display: block;
}

.container-radio .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
